{% extends "layout.html" %}
{% block content %}

	  <!-- first box -->

	  <div style="margin-top: 20px">
	  <div class="content-section justify-content-center col-12 col-md-6 col-sm-11 m-auto" style="margin-top: 30px">
		
		<!-- first form -->

		<form class="form-container needs-validation justify-content-center" style="margin: auto" action="{{ url_for('home')}}" method="post" enctype="multipart/form-data" novalidate>
					 	
			<!-- legend -->

		  	<legend class="border-bottom mb-4 text-center">Please select a .txt file to scan</legend>

		  	<!-- upload file field -->

		 	<div class="form-group">
                    
		 		<!-- <label for="file"><h5>Please select a .txt file to scan</h5></label> -->

		 		<div class="input-group mb-3 validate-me">


		 			<div class="custom-file">

		 				<div class="flex-wrap">

		 			  	<input type="file" class="custom-file-input" id="file" name="file" accept=".txt" autofocus required oninput="record_filesize(this)">

                        <label class="custom-file-label" for="file">Choose file</label>

                        <div class="invalid-feedback w-100" style="margin-top: 25px">
    						<small>This field is required.</small>
    					</div>

                        <!--<div class="invalid-feedback" style="position: absolute; top: 3.0em">
                            <h6>Please provide a file.</h6>
                        </div>-->

		 				</div> <!--flex-wrap-->
                    </div>
                </div>

                <!-- checkbox -->

                <div class="text-center">
                <div class="custom-control custom-checkbox lower-me">

                	<input type="checkbox" class="custom-control-input" sytle="margin-top: 12px" id="checkbox" name="checkbox" unchecked="">

                    <label class="custom-control-label" for="checkbox">Check if the verses are preceded by verse numbers</label>
                	
                </div>
            	</div>

            </div>

            <!-- scan file button -->

            <div class="text-center">
                <button type="submit" class="btn btn-primary mb-1">Scan file</button>
            </div>

        </form>

      </div> 
      </div>  

	  <!-- second box -->

      <div style="margin-top: 20px">
	  <div class="content-section justify-content-center col-12 col-md-6 col-sm-11 m-auto" style="margin-top: 30px">
		
		<!-- second form -->

		<form class="form-container needs-validation justify-content-center" style="margin: auto" action="{{ url_for('display_text') }}" method="post" enctype="multipart/form-data" novalidate>

			<!-- legend -->

		  	<legend class="border-bottom mb-4 text-center">Paste your verses here</legend>

		  	<!-- textarea field -->

		 	<div class="form-group validate-me">
                    
		 		<!-- <label for="textarea"><h4>Paste your plain text here</h4></label> -->

		 		<textarea class="form-control" id="textarea" name="textarea" rows="5" required></textarea>

		 		<!-- invalid feedback here -->

		 		<div class="invalid-feedback">
					<small>This field is required</small>
				</div>

            </div>
                <!-- checkbox -->

            <div class="text-center">
                <div class="custom-control custom-checkbox" style="display: inline-block">
	                
                	<input type="checkbox" class="custom-control-input" style="margin-top: -30px" id="checkbox2" name="checkbox2" unchecked="">
                	<label class="custom-control-label" for="checkbox2">Check if the verses are preceded by verse numbers</label>
                </div>
            </div>

            <!-- scan text button -->

            <div class="text-center">
                <button formtarget="_blank" type="submit" class="btn btn-primary mb-1 " style="margin-top: 15px">Scan text</button>
            </div>

        </form>

      </div>
      </div>

{% endblock content %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock script %}